body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #fcfdff;
}

h2 {
  padding-left: 4%;
  font-family: 'Crimson Text', serif;
}

.navBar a {
  font-family: 'Crimson Text', serif;
}

.camera {
  position: absolute;
  padding-left: 14%;
  margin: auto;
  z-index: -1;
}

.webcam {
  position:relative;
  height: 200px;
}

.glasses {
  position: absolute;
  margin: auto;
  height: 150px;
  z-index: 0;
}

.dropdown {
  padding-left: 7%;
}
